<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/styles/artistPage.css">

    <title>Artist Page</title>
</head>
<body>
    
    <div class="navBar">
        <a class="navHomeButton" href="http://localhost:8080/"><img src="https://assets.turbologo.ru/blog/ru/2021/06/03041624/nike-logo-1995.png" width="20%"/></a>
      </div>

</body>
</html>