<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/styles/artistPage.css">

    <title>Artist Page</title>
</head>
<body>
    <div class="LeftSide">
        <input type="checkbox" id="burger-shower" class="burger-shower">
        <label for="burger-shower" class="treeBar">
            <div class="first-bar"></div>
            <div class="second-bar"></div>
            <div class="third-bar"></div>
        </label>
        <div class="Left-Bar">
            <a href ="http://localhost:8080" ><button class="leftBarButton">Menu</button></a>
        </div>
    </div>
    
    <div class="Principal">
        <div style="display: flex;">
          <div class="Info">
            <img src={{.Image}} alt="Illustrattion de du groupe {{.Name}}" class="imgArtist">
            <h1 class="GroupName">{{.Name}}</h1>
        </div>
        <div class="Names">
            <h2>Members :</h2>
            {{range .Members}}
            <p>- {{.Member}}</p>
            {{end}}
        </div> 

        </div>
        <div class="Concert">
            <h1>Concert dates :</h1>
            {{range .Concert}}
            <div>
                <h2>{{.Location}} :</h2>
                {{range .Date}}
                <p>- {{.Date}}</p>
                {{end}}

            </div>
            {{end}}
        </div>
    </div>

</body>
</html> 