<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="http://localhost:8080/assets/css/concertPage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert Page</title>
</head>
<body>
    <div class ="navbar">
        <!-- <a class="navHomeButton" href="http://localhost:8080/"><img src="http://localhost:8080/assets/img/ancienlogo.png" width="90%"/></a> -->
        <a class="navHomeButton" href="http://localhost:8080/"><img src="http://localhost:8080/assets/img/logoIA.png" width="90%"/></a>
        <div class="researchBar">
            <img src=""/>
            <form action="searchName" method="post">
                <input class="search" type="text" name="searchName"/>
            </form>
        </div>
    </div>

    <div class="Concert">
        <div class="artist">
            {{range .Array}}
            
        </div>
        {{.Name}}
        {{range .Concert}}
            {{.Location}}
            {{.Date}}
            {{end}}
         {{end}}
        
        
        
        
    </div>
</body>
</html>