<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="http://localhost:8080/styles/contactUsPage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    
    <div class ="navbar">
        <a class="navHomeButton" href="http://localhost:8080/"><img src="http://localhost:8080/styles/logo.png" width="90%"/></a>
        <div class="researchBar">
            <img src=""/>
            <form action="searchName" method="post">
                <input class="search" type="text" name="searchName"/>
            </form>
        </div>
    </div>

    <h1>Nôtre équipe :</h1>
    
    <div class="allContacts">
        <div class="contacts">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Head.svg/640px-Head.svg.png" style="width:20%">
            <div class="container">
                <h3>Gurvan</h3> 
                <h4>B1 Informatique</h4>
                <p>email : gurvan.nicolas@ynov.com</p> 
            </div>
        </div>
        
        <div class="contacts">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Head.svg/640px-Head.svg.png" style="width:20%">
            <div class="container">
                <h3>Etienne</h3> 
                <h4>B1 Informatique</h4>
                <p>email : etienne.lemee@ynov.com</p> 
            </div>
        </div> 
        
        <div class="contacts">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Head.svg/640px-Head.svg.png" style="width:20%">
            <div class="container">
                <h3>Enzo</h3> 
                <h4>B1 Informatique</h4>
                <p>email : enzo.achard@ynov.com
                </p> 
            </div>
        </div>
    </div>

</body>
</html>