<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/styles/styles.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <h1 class="title">Welcome to our Website</h1>
    <div class="allTheCards">
        {{range .Array}}
        <button class="cardButton">
            <div class="card">
                <img src = {{.Image}} class="image"></img><br>
                <div class="container">
                    <h2>{{.Name}}</h2>
                </div>
            </div>
        </button>
        {{end}}
    </div>
</body>
</html>