<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/assets/css/mainPage.css">
    <link rel="icon" href="http://localhost:8080/assets/img/ancienlogo.png"/>

    <title> Groupie Tracker</title>
</head>
<body>
    <datalist id="names">
        {{range .ForReacherchBar}}
        <option value="{{.Name}}">
            {{end}}
        </datalist>
        <div class ="navbar">
            <a class="navHomeButton" href="http://localhost:8080/"><img src="http://localhost:8080/assets/img/ancienlogo.png" width="90%"/></a>
            <div class="researchBar">
                <form action="searchName" method="post">
                    <input class="search" type="text" name="searchName" list="names" src="http://localhost:8080/assets/img/loupe.png"/>
                </form>
            </div>
            <form action="adminLog" method="post">
                <button  style = "border: transparent; background-color: transparent;"> <img src="http://localhost:8080/assets/img/Parameters.png" alt="parameters button" class="Para" height="50px" width="50px"> </button>
            </form>
        </div>
        
        <h1 class="title">Bienvenue sur nôtre site Internet</h1>
        <div class="buttonBar">
            <form action="concert" method="post"><button class="concertButton" type="submit">Voir les concerts</button></form>
            <form action="contactUs" method="post"><button class="contactButton" type="submit">Nous contacter</button></form>
        </div>

        <div class="buttonBar" style="margin-top: 5vh; margin-bottom: 5vh;">
            <form action="NbrInPageChange" method="post" id="login-form">
                <div class = 'divInput'>
                    <label for="nbrOfCard" class="label-input"> Choisir le nombre d'artistes </label>
                    <input type="text" class="inputText" name = "mail" id = "nbrOfCard" placeholder="Enter Number">
                </div>
            </form>
            <form action="sorting" method="post" class="sortHere" >
                <select name="sorting" id="choose-sorting">
                    <option value="alphabeticalOrder">--Choisissez une option--</option>
                    <option value="alphabeticalOrder" >Ordre Alphabétique</option> 
                    <option value="reverseAlphabeticalOrder" >Ordre Alphabétique inverse</option>
                    <option value="numberOfArtists" >Nombre d'artistes d'un</option>
                </select>
                <button class="hiddenButton">
                    valider
                </button>
            </form>
        </div>
        <div class="allTheCards">
            {{range .Array}}    
            <form action="artistPage" method="post">
                <button class="card" value="{{.Id}}" type="submit" name="cardButton">
                    <img src = {{.Image}} class="image"></img><br>
                    <div class="container">
                        <h2>{{.Name}}</h2>
                    </div>
                </button>
            </form>
            {{end}} 
        </div>
           
        <div class="ButtonForChangePage">
            {{if .NotFirstPage}}
            <form action="changePage" method="post">
                <button class="previousPage" type="submit" name="topage" value = "{{.PreviousPage}}"><i class="arrow left"></i></button>
            </form> 
            {{end}}
            {{if .NotFirstPage}} 
            {{if .NotLastPage}} <p style="font-size: 1.5vw ; margin-top: 0;">{{.IdPage}}</p>  {{end}}
            {{end}}
            {{if .NotLastPage}} 
            <form action="changePage" method="post">
                <button class="nextPage" type="submit" name="topage" value = "{{.NexPage}}"><i class="arrow right"></i></button>
            </form>
            {{end}} 
        </div>
    </body>
    </html>