<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/styles/mainPage.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <datalist id="names">
        {{range .Array}}
        <option value="{{.Name}}">
        {{end}}
      </datalist>
    <div class ="navbar">
        <a class="navHomeButton" href="http://localhost:8080/"><img src="http://localhost:8080/styles/ancienlogo.png" width="90%"/></a>
        <div class="researchBar">
            <img src=""/>
            <form action="searchName" method="post">
                <input class="search" type="text" name="searchName" list="names"/>
            </form>
        </div>
    </div>
    
    
    <h1 class="title">Bienvenue sur nôtre site !</h1>

    <div class="buttonBar">
        <form action="concert" method="post"><button class="concertButton" type="submit">See concert</button></form>
        <form action="aboutUs" method="post"><button class="aboutUsButton" type="submit">About us</button></form>
        <form action="contactUs" method="post"><button class="contactButton" type="submit">Contact us</button></form>
    </div><br>

    <div class="allTheCards">
        {{range .Array}}    
        <form action="artistPage" method="post">
            <button class="card" value="{{.Id}}" type="submit" name="cardButton">
                <img src = {{.Image}} class="image"></img><br>
                <div class="container">
                    <h2>{{.Name}}</h2>
                </div>
            </button>
        </form>
        {{end}} 
    </div>
    <div class="ButtonForChangePage">
    {{if .NotFirstPage}}
        <form action="changePage" method="post">
            <button class="previousPage" type="submit" name="topage" value = "{{.PreviousPage}}"><i class="arrow left"></i></button>
        </form> 
    {{end}}
    {{if .NotLastPage}} 
    <form action="changePage" method="post">
            <button class="nextPage" type="submit" name="topage" value = "{{.NexPage}}"><i class="arrow right"></i></button>
    </form>
    {{end}} 
    </div>

</body>
</html>